anaconda==0.0.1.1
anyio==3.0.1
APScheduler==3.8.0
argon2-cffi==20.1.0
asgiref==3.4.1
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
blessings==1.7
bokeh==2.3.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.3
Django==3.2.6
docutils==0.17.1
entrypoints==0.3
et-xmlfile==1.1.0
ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5
ffprobe-python==1.0.3
filelock==3.3.0
fire==0.4.0
Flask==2.0.2
ftransc==7.0.3
future==0.18.2
idna==2.10
image==1.5.33
imageio==2.9.0
imageio-ffmpeg==0.4.3
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.0
joblib==1.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.7.0
jupyterlab==3.0.15
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.1
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==2.0.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mlxtend==0.18.0
MouseInfo==0.1.3
moviepy==1.0.3
munch==2.5.0
mutagen==1.45.1
nbclassic==0.2.8
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.2
notebook==6.3.0
numpy==1.21.2
oauthlib==3.1.1
openpyxl==3.0.7
packaging==20.9
pafy==0.5.5
pandas==1.3.2
pandocfilters==1.4.3
parse==1.19.0
parso==0.8.2
pickleshare==0.7.5
Pillow==8.3.1
platformdirs==2.4.0
plotly==5.3.1
plumbum==1.7.0
prettytable==2.1.0
proglog==0.1.9
prometheus-client==0.10.1
prompt-toolkit==3.0.18
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
Pygments==2.9.0
PyJWT==1.7.1
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
pyproj==3.2.0
pyquery==1.4.3
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
pytesseract==0.3.8
python-dateutil==2.8.2
pytube==10.8.1
pytube3==9.6.4
PyTweening==1.0.3
pytz==2021.1
PyWavelets==1.1.1
pywebcopy==6.3.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmail==1.0.3
pyzmq==22.0.3
requests==2.24.0
requests-oauthlib==1.3.0
schedule==1.1.0
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.5.0
Shapely==1.7.1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
snuggs==1.4.7
soupsieve==2.2.1
spotipy==2.16.1
sqlparse==0.4.1
statistics==1.0.3.5
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.5
testpath==0.4.4
threadpoolctl==2.2.0
tifffile==2021.8.30
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
tweepy==4.1.0
twilio==6.45.4
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.25.10
virtualenv==20.8.1
voila==0.2.10
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==2.0.2
youtube-dl==2021.6.6
youtube-mp3-downloader==1.4
